target/
.env
*.wasm
.gradle/
build/
local.properties
*.apk
.cxx/
*.so
*.gguf
*.onnx
*.bin
*.mnn
ic_launcher-playstore.png
PocketClaw/android/app/build/
PocketClaw/android/app/.cxx/
PocketClaw/android/.gradle/
PocketClaw/android/build/
PocketClaw/android/local.properties
android/app/build/
android/app/.cxx/
android/.gradle/
